* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  width: 100%;
  height: 95px;
  text-align: center;

  background-color: rgb(75, 70, 70);
}

.movies-stage {
  position: relative;
}

.logo {
  height: 90px;
  margin-left: 80px;
  border-radius: 50%;
}

.search {
  flex-grow: 1;
  display: inline;
}

.search-box {
  min-width: 270px;
  height: 30px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
}

.icon-sousuo:hover {
  cursor: pointer;
}

.nav-list-div {
  flex-grow: 2;
  height: 680px;
  width: 50px;
  top: 10px;
}

.type-list {
  display: flex;
  width: 50px;
  top: 10px;
  line-height: 35px;
  flex-direction: column;
  text-align: center;
}

.movie-type {
  flex-grow: 1;
  list-style-type: none;
}

.movie-type:hover {
  cursor: pointer;
  color: rgb(253, 112, 18);
}

.movie-list-div {
  position: absolute;
  float: right;
  top: 0;
  left: 70px;
  width: 95%;
}

.movie-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.movie-row {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
}

.movie-info {
  display: flex;
  margin: 20px 0;
  height: 200px;
}

.movie-cover {
  width: 135px;
  height: 100%;
}

.movie-infos {
  position: relative;
  font-size: 10px;
  flex-grow: 3;
  padding-left: 10px;
}

.movie-list td {
  width: 33%;
}

.infos {
  display: block;
  word-break: break-all;
  line-height: 30px;
}

.movie-infos a {
  text-decoration: none;
  color: black;
}

.movie-rate {
  position: absolute;
  bottom: 0;
  right: 70px;
  color: rgb(255, 153, 0);
}

.top-button {
  position: fixed;
  height: 30px;
  width: 100px;
  right: 0px;
  bottom: 40px;
  line-height: 30px;
  display: none;
  background-color: #eee;
  z-index: 2;
}

.top-button:hover {
  background-color: #ff0;
  cursor: pointer;
}

.return-top {
  position: fixed;
  right: 20px;
  bottom: 100px;
  text-align: center;
  text-decoration: none;
  color: rgb(119, 159, 233);
}