* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  width: 100%;
  height: 95px;
  text-align: center;
  
  background-color: rgb(75, 70, 70);
}

.movies-stage {
  position: relative;
}

.logo {
  position: absolute;
  left: 100px;
  width: 90px;
  height: 90px;
  vertical-align: middle;
  border-radius: 50%;
}

.search {
  flex-grow: 1;
  display: inline;
}

.search-box {
  margin-top: 20px;
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.search-button {
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(241, 175, 158);
}

.nav-list-div {
  flex-grow: 2;
  height: 680px;
  position: sticky;
  width: 50px;
  top:10px
}

.type-list {
  display: flex;
  line-height: 35px;
  width: 50px;
  position: sticky;
  top: 10px;
  flex-direction: column;
  text-align: center;
}

.movie-type {
  flex-grow: 1;
  list-style-type: none;
}

.movie-type:hover {
  color: rgb(253, 112, 18);
}

.movie-list-div {
  position: absolute;
  float: right;
  top: 0;
  left: 70px;
  width: 95%;
}

.movie-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.movie-row {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
}

.movie-info {
  margin: 20px 0;
  height: 200px;
  display: flex;
}

.movie-cover {
  width: 135px;
  height: 100%;
}

.movie-infos {
  position: relative;
  font-size: 10px;
  flex-grow:3;
  padding-left: 10px;
}

.movie-list td {
  width: 33%;
}

.infos{
  display: block;
  word-break: break-all;
  line-height: 30px;
}

.movie-infos a {
  text-decoration: none;
  color: black;
}

.movie-rate {
  position: absolute;
  color: rgb(255, 153, 0);
  bottom: 0;
  right: 70px;
}