* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  width: 100%;
  height: 95px;
  text-align: center;
  
  background-color: rgb(75, 70, 70);
}

.logo {
  position: absolute;
  left: 100px;
  width: 90px;
  height: 90px;
  vertical-align: middle;
  border-radius: 50%;
}

.search {
  flex-grow: 1;
  display: inline;
}

.search-box {
  margin-top: 20px;
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.search-button {
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(241, 175, 158);
}

.movies-stage {
  display: flex;
  border: 0;
  padding: 0;
}

.nav-list-div {
  flex-grow: 2;
  height: 680px;
  position: sticky;
  top:10px
}

.type-list {
  display: flex;
  line-height: 35px;
  width: 50px;
  flex-direction: column;
  text-align: center;

}

.movie-type {
  flex-grow: 1;
  list-style-type: none;
}

.movie-type:hover {
  color: rgb(253, 112, 18);
}

.movie-list-div {
  flex-grow: 10;
}

.movie-list {
  display: flex;
  flex-direction: column;
}

.movie-row {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
}

.movie-info {
  margin: 20px;
  height: 200px;
  display: flex;
  flex-grow: 1;
  background-color: wheat;
}

.movie-cover {
  flex-grow: 1;
  height: 100%;
}

.movie-infos {
  font-size: 14px;
  flex-grow:2;
}

.movie-list td {
  width: 33%;
}

.movie-infos span{
  display: inline-block;
  word-break: break-all;
  line-height: 20px;
}