* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  width: 100%;
  height: 95px;
  text-align: center;
  
  background-color: rgb(75, 70, 70);
}

.logo {
  height: 90px;
  margin-left: 80px;
  border-radius: 50%;
}

.search {
  display: inline;
  flex-grow: 1;
}

.search-box {
  height: 30px;
  margin-top: 20px;
  min-width: 270px;
  border: none;
  border-radius: 5px;
}

.icon-sousuo:hover {
  cursor: pointer;
}

.content {
  width: 80%;
  margin: 10px auto;
}

.result-list {
  list-style: none;
}

.result-list li {
  border-bottom: 1px solid gray;
}

.result-list a {
  text-decoration: none;
  color: inherit;
}


.title {
  margin-left: 50px;  
  line-height: 50px;
  font-size: 25px;
  color: rgb(22, 22, 22);
}

.poster {
  display: inline-block;
  width: 170px;
  height: 220px;
  margin-left: 70px;
  margin-right: 230px;
  background-position: center;
}

.info {
  display: inline-block;
  margin-left: 70px;
  font-size: 18px;
}